# Unity 缓存/临时文件
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serData/
/[Uu]nityGenerated/
/[Ss]ettings/[Cc]ache/
Artifacts/

# Unity 用户个人设置
UserSettings/

# Visual Studio 本地配置/缓存
.vs/
.vsconfig
*.vsidx

# 个人配置文件/IDE生成文件
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.boo
*.boo.meta
*.svd
*.dll
*.pdb
*.mdb
*.opendb
*.VC.db

# Rider/其他IDE文件
.idea/
*.iml
*.ipr
*.iws

# 系统文件
.DS_Store
Thumbs.db